@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');


/*********************************************
* HEADERS
*********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
/* font-family: 'Nova Mono', monospace; */
font-family: 'Cabin Sketch', cursive;
/* font-weight: bold; */
letter-spacing:0.3rem;
}
 
p, li{
    font-family: monospace;
}
  
.reveal.has-dark-background h1, .reveal.has-dark-background h2, .reveal.has-dark-background h3, .reveal.has-dark-background h4, .reveal.has-dark-background h5, .reveal.has-dark-background h6 {
color: #fff!important; }

.reveal h1 {
font-size: 5rem; }

.reveal h2 {
font-size: 3.5rem; }

.reveal h3 {
font-size: 3rem; }

.reveal h4 {
font-size: 2rem; }

code {
    padding: 1rem 2rem 1rem 3rem!important;
    border-radius: 1rem;
    border: 0.75rem solid #001a10;
    background: #000c09!important;
}
::-webkit-scrollbar {
    /* height: 12px; */
    width: 5px;
    background: #0000;
}

::-webkit-scrollbar-thumb {
    background: #fa855777;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #0000;
}

.reveal::after{
    content: "Python WebFramework";
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: large;
    color: #ffaa00;
    font-style: normal;
    font-family: monospace;
}

.bg-white{
    background-color: #aaad!important;
}

.red-text{
    color: red!important;
}

.green-text{
    color: greenyellow!important;
}

.logo-text{
    color: #ffaa00!important;
}
.blue-text{
    color: blue!important;
}
.white-text{
    color: white!important;
}

.table-title-r, .table-title-f{
    color: #ffaa00;
}

.table-title-f::after{
    content: url(./image/rupee.svg);
    position: relative;
    left: 0%;
    top: 0%;
}

table{
    font-size: 1.5rem;
}
a[data-title]:hover:after{
    content: attr(data-title);
    background: #ffaa0000; 
    position: absolute;
    left: -50%;
    top: 50%;
    color: #fa0;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.1px solid #fa0;
}


.round-half{
 border-radius: 5px;
}

.image-fit{
    height: 60vh!important;
}